@{
    ViewBag.Title = "Ingredientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="card-header bg-info text-white mb-4">Suministro</h2>
@* <div class="cabe">
    <div class="d-flex align-items-center" style="height: 7vh;">
        <div class="me-3" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
            <a class="custom-margin-right @(Context.Request.RouteValues["action"].ToString() == "ViewBebidas" && Context.Request.RouteValues["controller"].ToString() == "Bebida" ? "active" : "")" asp-area="" asp-controller="Bebida" asp-action="ViewBebidas">Bebidas</a>|
            <a class="custom-margin-right @(Context.Request.RouteValues["action"].ToString() == "ViewIngredientes" && Context.Request.RouteValues["controller"].ToString() == "Ingrediente" ? "active" : "")" asp-area="" asp-controller="Ingrediente" asp-action="ViewIngredientes">Ingredientes</a>|
            <a class="custom-margin-right @(Context.Request.RouteValues["action"].ToString() == "ViewCategorias" && Context.Request.RouteValues["controller"].ToString() == "Categoria" ? "active" : "")" asp-area="" asp-controller="Categoria" asp-action="ViewCategorias">Categorias</a>
        </div>
    </div>
</div> *@
<div class="cabe">
    <div class="d-flex align-items-center" style="height: 7vh;">
        <div class="me-3" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
            <a class="custom-margin-right @(Context.Request.RouteValues["action"].ToString() == "ViewComidas" && Context.Request.RouteValues["controller"].ToString() == "Comida" ? "active" : "")" asp-area="" asp-controller="Comida" asp-action="ViewComidas">Platillos</a>|
            <a class="custom-margin-right @(Context.Request.RouteValues["action"].ToString() == "ViewBebidas" && Context.Request.RouteValues["controller"].ToString() == "Bebida" ? "active" : "")" asp-area="" asp-controller="Bebida" asp-action="ViewBebidas">Bebidas</a>|
            <a class="custom-margin-right @(Context.Request.RouteValues["action"].ToString() == "ViewIngredientes" && Context.Request.RouteValues["controller"].ToString() == "Ingrediente" ? "active" : "")" asp-area="" asp-controller="Ingrediente" asp-action="ViewIngredientes">Ingredientes</a>

        </div>
    </div>
</div>

<div class="content-wrapper" style="padding:10px">
    <div class="col-sm-12">
        <div class="card border-info">
            <div class="card-header bg-info text-white">
                Ingredientes
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-sm btn-success" onclick="abrirPopUpForm(null)"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Nuevo</button>
                    </div>
                </div>
                <hr />
                <div class="row mt-3">
                    <div class="col-sm-12 NoDesbordar">
                        <table id="tbdata" class="table table-striped table-bordered nowrap compact" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                   
                                    <th>Categoría</th>
                                    <th>Estado</th>
                                    <th>Acciónes</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-info text-white">
                <h5 class="modal-title" id="exampleModalLabel">Ingrediente</h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form" >

                    <input type="hidden" class="form-control form-control-sm model" id="txtid" name="CodigoProducto">


                    <div class="form-group row">
                        <label for="txtNombreSuministro" class="col-sm-2 col-form-label col-form-label-sm">Nombre: <span class="error"></span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm model" id="txtNombreSuministro" name="NombreSuministro">
                            
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="txtDescripcionSuministro" class="col-sm-3 col-form-label col-form-label-sm">Descripción: <span class="error"></span> </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm model" id="txtDescripcionSuministro" name="DescripcionSuministro">
                            
                        </div>
                    </div>
                   @*  <div class="form-group row">
                        <label for="txtVencimientoSuministro" class="col-sm-3 col-form-label col-form-label-sm">Vencimiento: <span class="error"></span></label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control form-control-sm model" id="txtVencimientoSuministro" name="VencimientoSuministro">
                            
                        </div>
                    </div> *@

                    <div class="form-group row">
                        <label for="cboCategorias" class="col-sm-2 col-form-label col-form-label-sm">Categoría:</label>
                        <div class="col-sm-10">
                            <select class="form-control form-control-sm model" id="cboCategorias" name="Categoria"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cboEstado" class="col-sm-2 col-form-label col-form-label-sm">Estado:</label>
                        <div class="col-sm-10">
                            <select class="form-control form-control-sm model" id="cboEstado" name="Activo">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/IngredienteCrear.js"></script>
}

